{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Рекомендации по установке</h1>
<p id="assemblyGlav">Ниже представлен процесс установки компьютерных комплектующих. Он описывает процесс пошаговой установки, что поможет вам правильно собрать свой компьютер. </p><br>
<div class="assemblyPrev">
<p id="warning"><b>ВНИМАНИЕ!!!</b> Процесс сборки - это крайне тяжелая задача которая требует высокой концентрации,
невероятной осторожности и понимание процесса. Если вы абсолютный новичок и никогда не 
имели дело с электроникой, то настоятельно не рекомендуется пытаться все сделать самому.
Помните, что мы не несем ответственность за последствия некорректной сборки. 
Данный пост предназначен сугубо в ознакомительных целях. Мы ценим наших клиентов.</p><br> 
<iframe id="video" width="800" height="515" src="https://www.youtube.com/embed/GvyR_76qACg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>
<div id="assemblyDet">
    <div class="assemblyDetH">
    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
        <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"/>
      </svg><h1 class="hInst">Пошаговая инструкция по установке комплектующих</h1></div><br>
    <div class="sborka">
        <h2 class="sborkaDet">1. Установка блока питания:</h2>
        <ul class="spisok">
            <li>
                <p>Откройте корпус компьютера.</p>
            </li>
            <li>
                <p>Разместите блок питания в указанном месте внутри корпуса.</p>
            </li>
            <li>
                <p>Закрепите блок питания крепежными винтами.</p>
            </li>
            <li>
                <p>Подключите кабели питания к материнской плате, жесткому диску, оптическому приводу и другим компонентам, если это необходимо.</p>
            </li>
        </ul>
        <img class="imgAssembly" id="c1" src="{% static 'img/block_pitaniya.PNG' %}"/>
    </div>
    <div class="sborka">
        <h2 class="sborkaDet">2. Установка материнской платы:</h2>
        <ul class="spisok">
            <li>
                <p>Разместите материнскую плату внутри корпуса компьютера.</p>
            </li>
            <li>
                <p>Закрепите материнскую плату крепежными винтами.</p>
            </li>
            <li>
                <p>Подключите кабели питания и передачи данных к материнской плате, жесткому диску, оптическому приводу и другим компонентам, если это необходимо.</p>
            </li>
            <li>
                <p>Установите оперативную память в соответствующие слоты на материнской плате.</p>
            </li>
        </ul>
        <img class="imgAssembly" id="c2" src="{% static 'img/matPlata.PNG' %}"/>
    </div>
    <div class="sborka">
        <h2 class="sborkaDet">3. Установка процессора:</h2>
        <ul class="spisok">
            <li>
                <p>Откройте защелку на сокете процессора на материнской плате.</p>
            </li>
            <li>
                <p>Установите процессор на сокет, убедившись, что золотые контакты совпадают с выемками на сокете.</p>
            </li>
            <li>
                <p>Нажмите на процессор, чтобы он зафиксировался в сокете.</p>
            </li>
            <li>
                <p>Нанесите термопасту на поверхность процессора.</p>
            </li>
            <li>
                <p>Установите кулер на процессор, закрепив его креплениями на материнской плате.</p>
            </li>
            <li>
                <p>Подключите кулер к системной плате.</p>
            </li>
        </ul>
        <img class="imgAssembly" id="c3" src="{% static 'img/proz.PNG' %}"/>
    </div>
    <div class="sborka">
        <h2 class="sborkaDet">4. Установка видеокарты:</h2>
        <ul class="spisok">
            <li>
                <p>Разместите видеокарту в соответствующем слоте на материнской плате.</p>
            </li>
            <li>
                <p>Закрепите видеокарту крепежными винтами или зажимами.</p>
            </li>
            <li>
                <p>Подключите кабель питания к видеокарте, если это необходимо.</p>
            </li>
        </ul>
        <img class="imgAssembly" id="c4" src="{% static 'img/videoc.PNG' %}"/>
    </div>
    <div class="sborka">
        <h2 class="sborkaDet">5. Установка жесткого диска:</h2>
        <ul class="spisok">
            <li>
                <p>Разместите жесткий диск и/или оптический привод в соответствующих отсеках внутри корпуса компьютера.</p>
            </li>
            <li>
                <p>Закрепите их крепежными винтами.</p>
            </li>
            <li>
                <p>Подключите кабели передачи данных и питания к жесткому диску и/или оптическому приводу.</p>
            </li>
        </ul>
        <img class="imgAssembly" id="c5" src="{% static 'img/jd.PNG' %}"/>
    </div>
    <div class="sborka">
        <h2 class="sborkaDet">6. Установка дополнительных компонентов:</h2>
        <ul class="spisok">
            <li>
                <p>Разместите дополнительные компоненты, такие как звуковая карта, сетевая карта или Wi-Fi адаптер, в соответствующих слотах на материнской плате.</p>
            </li>
            <li>
                <p>Закрепите их крепежными винтами, если это необходимо.</p>
            </li>
            <li>
                <p>Подключите кабели передачи данных и питания к дополнительным компонентам, если это необходимо.</p>
            </li>
        </ul>
        <img class="imgAssembly" id="c6" src="{% static 'img/cabel.jpg' %}"/>
    </div>
    <div class="sborka">
        <h2 class="sborkaDet">7. Закрытие корпуса компьютера:</h2>
        <ul class="spisok">
            <li>
                <p>Закройте корпус компьютера и закрепите его крепежными винтами или зажимами.</p>
            </li>
            <li>
                <p>Подключите кабель питания к блоку питания и в розетку.</p>
            </li>
            <li>
                <p>Включите компьютер и убедитесь, что все компоненты работают правильно.</p>
            </li>
        </ul>
        <img class="imgAssembly" id="c7" src="{% static 'img/sbor.PNG' %}"/>
    </div>
    <div class="sborka">
        <h2 class="sborkaDet">Конец</h2>
        <p class="spisokTxt">Если вы выполнили все пункты и дошли до этого, то поздравляем! 
            Ваши мучения кончились и вы ничего не сломали... наверное. 
            Но даже если у вас ничего не получилось это не повод расстраиваться, 
            в следующий раз будьте аккуратнее, а лучше сохраните свои нервы и доверьтесь профессионалам. Удачи;) </p>
        <img class="imgAssembly" id="c8" src="{% static 'img/matPlata.PNG' %}"/>

    </div>
</div>
{% endblock %}